
&flash0 {
	/*
	 *  flash layout for naya 
	 *
	 * 0x00000000 SoftDevice s140 v7    (192 kB)
	 * 0x00030000 mcuboot partition     (80 kB)
 	 * 0x00044000 image-0 partition     (648 kB)
	 * 0x00044000 image-0 partition     (648 kB)
	 * 0x000e6000 scratch partition     (24 kB)
	 * 0x000ec000 Storage partition     (32 kB)
	 * 0x000f4000 DFU boot partition    (48 kB)
	 */

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		softdevice_partition: partition@0 {		
			label = "SoftDevice";
			// read-only;
			reg = <0x00000000 0x00030000>;
		};
		
		mcuboot_partition: partition@30000 {
			label = "mcuboot";
			reg = <0x00030000 0x00014000>;
		};
		
		slot0_partition: partition@44000 {
			label = "image-0";
			reg = <0x00044000 0x00051000>;
		};

		slot1_partition: partition@95000 {
			label = "image-1";
			reg = <0x00095000 0x00051000>;
		};
		
		mfw_partition: partition@e6000 {
			label = "image-scratch";
			reg = <0x000e6000 0x00006000>;
		};
		
        /*
         * Storage partition will be used by FCB/LittleFS/NVS
         * if enabled.
         */
		storage_partition: partition@ec000 {
            label = "storage";
            reg = <0x000ec000 0x00008000>;
        };

		boot_partition: partition@f4000 {
			label = "USB-DFU";
			read-only;
			reg = <0x000f4000 0x0000c000>;
		};
	};
};



/ {
	chosen {
		zephyr,code-partition = &boot_partition;
	};
};


