/*
 * Copyright (c) 2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */




&flash0 {
	/*
	 * Modified flash layout for nrf52840 using UF2 and SoftDevice s140 v7
	 *
	 * 0x00000000 SoftDevice s140 v7    (156 kB)
	 * 0x00027000 mcuboot partition     (64 kB)
 	 * 0x00037000 image-0 partition     (362 kB)
 	 * 0x00091800 image-1 partition     (362 kB)
	 * 0x000ec000 Storage partition     (32 kB)
	 * 0x000f4000 UF2 boot partition    (48 kB)
	 */

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		reserved_partition_0: partition@0 {
			label = "SoftDevice";
			read-only;
			reg = <0x00000000 0x00027000>;
		};
		
		boot_partition_2: partition@27000 {
			label = "mcuboot";
			reg = <0x00027000 0x00013000>;
		};
		
		slot0_partition: partition@3A000 {
			label = "image-0";
			reg = <0x0003A000 0x00053000>;
		};
		
		slot1_partition: partition@8d000 {
			label = "image-1";
			reg = <0x0008d000 0x00053000>;
		};

		scratch_partition: partition@e0000 {
			label = "image-scratch";
			reg = <0x000e0000 0x0000c000>;
		};
		
		storage_partition: partition@ec000 {
			label = "Storage";
			reg = <0x000ec000 0x00008000>;
		};

		boot_partition: partition@f4000 {
			label = "UF2";
			read-only;
			reg = <0x000f4000 0x0000c000>;
		};
	};
};


/ {
	chosen {
		zephyr,code-partition = &boot_partition;
	};
};
